.center-pic {
  height: 20vh;
  min-height: 250px;
}

.hoverables-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.circular {
  border-radius: 50%;
}

.text-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 60vw;
}

.landing-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
