.icon-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3vw;
  width: 3vw;
  min-height: 40px;
  min-width: 40px;
  border-radius: 4vw;
  background-color: #841414;
  color: white;
}

.hoverable-container {
  display: flex;
  position: relative;
  flex-direction: row;
  min-height: 40px;
  height: fit-content;
  width: fit-content;
  align-items: center;
  background-color: #a31e1e;
  border-radius: 4vw;
  color: white;
  transition: width 1s;
  transition-property: all;
}

.background {
  background-color: transparent;
}

.hoverable-text {
  padding-right: 10px;
  padding-left: 10px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
