body {
  margin: 0;
  --main-color: #841414;
  --lighter-gradient: #ce1f1f;
  overflow: scroll;
  background-color: #fdeeee;
  font-family: "Glacial Indifference", BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Glacial Indifference";
  src: url("./assets/glacial-indifference/GlacialIndifference-Regular.otf")
    format("opentype");
}
